@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: nunito sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    transition: all 0.5s ease-in-out;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.cursor-outer,
.cursor-inner {
    pointer-events: none;
    position: absolute;
    top: -50%;
    left: -50%;
    z-index: 50;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-inner {
    width: 8px;
    height: 8px;
    background-color: #75d9b3;
}

.cursor-outer {
    width: 40px;
    height: 40px;
    border: 1px solid #75d9b3;
    background-color: transparent;
}

.rotate3d {
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: transform 0.1s ease-in-out;
}

.info-deth {
    transform: translateZ(30px);
}

.light-icon,
.dark-icon {
    position: absolute;
    top: 4px;
    z-index: 1;
}

.light-icon {
    left: 4px;
}

.dark-icon {
    right: 4px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    z-index: 2;
    left: 2px;
    bottom: 2px;
    background-color: #090c14;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.switch input:checked+.slider {
    background-color: #090c14;
}

.switch input:checked+.slider::before {
    background-color: #ffffff;
}

.switch input:checked+.slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.timeline-switch input:checked+.timeline-slider {
    transform: translateX(9rem);
}

.timeline-switch input:checked~.timeline-option-1 {
    color: #ffffff;
}

.timeline-switch input:not(:checked)~.timeline-option-2 {
    color: #ffffff;
}